

main h2{
    text-align: center;
}

.contenedor-casificacionImagenes{

    display: flex;
    justify-content: center;
    gap: 10px;
    text-align: center;
    margin: 0 auto;
}

.contenedor-casificacionImagenes div{
    width: 30%;
    height: 300px;
}

.regional{
    height: 200px;
}

.nacional{
    height: 200px;
}

.internacional{
    height: 200px;
}



.contenedor-cuestionario{
    text-align: center;
}




@media screen and (max-width: 600px){
    .contenedor-casificacionImagenes{
        display: block;
    }

    .contenedor-casificacionImagenes div{
        width: 100%;
    }
    
}


.integrantes{
    display: flex;
    gap: 20px;
    
}

.integrantes h4{
    border-right: 1px solid black;
    border-left: 1px solid black;
    padding: 0 10px;
}